* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    text-align: center;
    align-content: center;
    
}

body {
   
    background-color: wheat;
    overflow-x: hidden
}
#img-b {
    height: 350px;
    width: 350px;
    border-radius: 50px;
}